:root {
	--main1-color: rgb(216, 180, 254);
	--white-color: #fff;
	/* --main-color: #4070f4; */
	--grey-color: #ecdada;
	--sec-color:#eff5ee;
	--thr-color:#e0b8a4;
	--grey-color-light: #f3eeee;
	--coorect-color:#385442;
	--main-color:#3d1f07;
	--black-color:#000;
}